<img {{bind-attr src="view.content.coverUrl"}} alt="Album cover" class="col-xs-2 cover img-responsive img-thumbnail"/>

<div class="col-xs-10">
    <h4>{{view.content.title}}</h4>
    <dl class="album-desc dl-horizontal">
        <dt>volume</dt><dd>{{view.content.number}}</dd>
        <dt>date</dt><dd>{{format-date "MMMM YYYY" view.content.publicationDate}}</dd>
    </dl>
</div>