<div class="col-xs-12 col-md-5 series-details">
    {{outlet}}
</div>

<div class="col-xs-12 col-md-4 series-albums">
    <ul>
        {{#each albums}}
            {{partial 'partials/albumItem'}}
        {{/each}}
    </ul>
</div>